*.out
*.output
*.o
*.tab.c
*.tab.h
*.yy.c
*.lex.c
*.lex.h
1/fb1-1
1/fb1-2
1/fb1-3
1/fb1-4
1/fb1-5
2/fb2-1
2/fb2-2
2/fb2-3
2/fb2-4
2/fb2-5
3-1/fb3-1
3-2/fb3-2
4/pmysql
5/purewc
8/lpmysql
9/glrmysql
cypher
libcypher-parser
parser_test
